*.vvp
*.vcd

.devcontainer/

riscof/riscof_work/
riscof/riscv-arch-test/
riscof/utoss_riscv/__pycache__/
riscof/sail_cSim/__pycache__
riscof/config.ini

quartus/db/
quartus/incremental_db/
quartus/output_files/
quartus/c5_pin_model_dump.txt
